[*.cs]
indent_style = space
indent_size = 4

# TODO: Remove this and make sure you have valid mappings
dotnet_diagnostic.RMG012.severity = none
dotnet_diagnostic.RMG020.severity = none

dotnet_diagnostic.IDE0130.severity = warning

csharp_style_namespace_declarations = file_scoped:warning
# dotnet_diagnostic.IDE0161.severity = error
